.nav-bar {
    position: relative;
    margin-top: 45px;
    padding: 0 3rem;
    transition: .5s;
    z-index: 9999;
}


.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.nav-link:hover,
.nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}

.nav-link {
    color: var(--dark);
    font-weight: 500;
}

.add-btn {
    color: white
}

.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}

.custom-collapse {
    @media (max-width: 991.98px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

