.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.img {
    transition: .5s;
    width: 100%;
}

.img-container {
    height: 200px;
}

.property-item:hover img {
    transform: scale(1.1);
}

.rating-display {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    color: #ffd700;
    justify-content: center;
}

.p-black {
    color: black;
    font-size: 20px;
    margin-bottom: 0;
}

.centered {
    text-align: center;
}

.container {
    height: 300px;
}

.container-p {
    margin-bottom: 0;
    text-align: center;
}

.container-div {
    margin-bottom: 13px;
}
