.footer {
    padding-bottom: 50px;
}

.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer-row {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.items-centered {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.items-left {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

.btn-social:hover {
    color: #00B98E;
    border-color: var(--light);
}

.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer-end {
    text-align: center;
    font-size: 24px;
}

.centered {
    text-align: center;
}

.footer-img {
    width: 100%;
    height: 60px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    display: inline-block;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #00B98E;
    animation: spin 1s linear infinite;
    width: 50px;
    height: 50px;
}

.green {
    color: #00B98E;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.footer-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 780px) {
    .footer {
        padding-bottom: 10px;
    }

    .footer-row {
        flex-direction: column;
        align-items: center;
    }

    .items-centered,
    .items-left {
        text-align: center;
        margin-bottom: 5px;
    }

    .btn-social,
    .btn-link {
        margin-bottom: 3px;
    }

    .footer-img {
        height: 50px;
    }

    .spinner {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 780px) and (min-width: 400px) {
    .footer-img {
        width: 100px;
        height: 50px;
    }
}